@using MetroshkaFestival.Application.WebModels.Tournaments
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@model MetroshkaFestival.Application.Queries.Models.Tournaments.TournamentListModel
@{
    ViewData["Title"] = "Турниры";
    ViewData["Controller"] = "Tournament";
    var returnUrl = Context.Request.GetUri().AbsoluteUri;
}
<div class="row">
    <h2 class="mt-3 col-sm">@ViewBag.Title | Всего: @Model.Tournaments.TotalItemCount</h2>
    <div class="mt-3 mb-2 col-sm-2 d-flex justify-content-center">
        <a asp-area="Admin" asp-controller="Tournament" asp-action="TournamentSummary" asp-route-returnUrl="@returnUrl" class="btn btn-secondary">Добавить турнир</a>
    </div>
    <div class="dropdown-divider"></div>
</div>

<form asp-controller="Tournament" asp-action="Index" method="get" class="form-inline row" role="search">
    <div class="input-group mr-2 col-md-auto pe-1">
        <div class="input-group-prepend col-sm-2">
            <span class="input-group-text">Поиск по названию</span>
        </div>
        @Html.TextBox("Filter.Name", null, new {placeholder = "Введите название турнира", @class = "form-control searchinput"})
    </div>

    <div class="row row-cols-auto pe-1 m-0 mt-2">
        <div class="input-group mr-2 col-sm">
            <div class="input-group-prepend col-sm-6">
                <span class="input-group-text">Год проведения</span>
            </div>
            @Html.DropDownListFor(x => x.Query.Filter.YearOfTour, ViewBag.Years as IEnumerable<SelectListItem>, new {@class = "form-control"})
        </div>

        <div class="input-group mr-2 col-sm">
            <div class="input-group-prepend col-sm-6">
                <span class="input-group-text">Город проведения</span>
            </div>
            @Html.DropDownListFor(x => x.Query.Filter.CityId, ViewBag.Cities as IEnumerable<SelectListItem>, new {@class = "form-control"})
        </div>
    </div>

    <div class="row justify-content-around mt-3 mb-2">
        <button class="btn btn-outline-success  w-25" type="submit">Поиск</button>
        <a asp-area="Admin" asp-controller="Tournament" asp-action="Index" class="btn btn-outline-secondary w-25">Сбросить фильтры</a>
    </div>
</form>


<div class="text-center d-flex justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="table-dark w-auto">
                <sort asp-all-route-data="Model.Query.GetAllQueryData()"
                      sort-name="@TournamentSortingEnum.Id" class="link-info">
                    ID
                </sort>
            </th>
            <th scope="col" class="table-dark w-auto">
                Турниры(
                <sort asp-all-route-data="Model.Query.GetAllQueryData()"
                      sort-name="@TournamentSortingEnum.Name" class="link-info">
                    Название
                </sort>,
                <sort asp-all-route-data="Model.Query.GetAllQueryData()"
                      sort-name="@TournamentSortingEnum.City" class="link-info">
                    Город
                </sort>,
                <sort asp-all-route-data="Model.Query.GetAllQueryData()"
                      sort-name="@TournamentSortingEnum.YearOfTour" class="link-info">
                    Год
                </sort>)
            </th>
            <th scope="col" class="table-dark w-25">Действие</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tournamentModel in Model.Tournaments)
        {
            <tr>
                <th scope="row" class="text-break">@tournamentModel.Id</th>
                <td style="transform: rotate(0);">
                    <a asp-area="Admin" asp-controller="Tournament" asp-action="TournamentSummary" asp-route-tournamentId="@tournamentModel.Id" class="stretched-link link-dark">@tournamentModel.Name</a>
                </td>
                <td class="p-1 text-center">
                    <a asp-area="Admin" asp-controller="Tournament" asp-action="DeleteTournament" asp-route-tournamentId="@tournamentModel.Id" class="btn btn-outline-danger btn-md btn-block w-50">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@if (Model.Tournaments.PageCount > 1)
{
    <nav aria-label="navigation">
        <pager class="pager-container"
               options="PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4Full"
               list="Model.Tournaments"
               asp-area="Admin"
               asp-controller="Tournament"
               asp-action="Index"
               param-page-number="Page.NumPage"
               asp-all-route-data="@Model.Query.GetAllQueryData()"/>
    </nav>
}